# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
tmp/
static/memes/
